# Docker
.data

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Venv
.venv/
venv/

# Backup files #
*.bak

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml
*.cover

#cache
**/__pycache__/**/

# celery
celerybeat-schedule.*

# Environments
.env

# mypy
.mypy_cache/

#ruff
.ruff_cache

